<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div>
        {% for object in themes_list %}
            <a href={{ object.path }}> {{ object.name }}</a>
        {% endfor %}
    </div>
    {% block content%}

    {% endblock %}
    {% include 'profile.html' %}
</body>
</html>