{% extends 'base.html' %}

{% block title%}Courses{% endblock %}

{% block content %}
    {% for key, values in object_list.items() %}
      <ul>
        <li>{{ key }}
          {% for value in values %}
              <ul>
                  <li>{{ value }} </li>
              </ul>
          {% endfor %}
        </li>
      </ul>
    {% endfor %}
    <form action="" method="post" name="post">
        <p>Category:</p>
        <select name="category" id="category">
            {% for category in categories %}
              <option value="{{ category[0] }}">{{ category[1] }}</option>
            {% endfor %}
        </select>
        <p>New course name:</p><input name="course" id="course">
        <button type="submit">Submit</button>
    </form>
{% endblock %}
